/* You can add global styles to this file, and also import other style files */
@use "app/utilities/appvariables.sass"

body
  margin: 0px
  padding: 0px
  background-color: appvariables.$dark-background-color
