@use "app/utilities/appvariables.sass"

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

body
  margin: 0px
  padding: 0px
  background-color: appvariables.$dark-background-color
  box-sizing: border-box

/* to avoid page being zoomed-in */
*
  box-sizing: inherit

