@use '../client/src/app/utilities/appvariables.sass'
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'

.album-image
  border-radius: 5px

.album-text
  display: flex
  flex-wrap: wrap
  margin-top: 7px


.album-name
  font-size: 15px
  font-weight: 550
  font-family: appvariables.$font-stack
  color: appvariables.$primary-font-color


.album-author
  color: appvariables.$secondary-font-color
  font-family: appvariables.$font-stack
  font-size: 14px

.album-author, .album-name
  line-height: 1.5em
  max-height: 3em
  overflow: hidden
  -webkit-line-clamp: 2
  display: -webkit-box
  -webkit-box-orient: vertical
  overflow: hidden
  white-space: normal
  width: 100%
  padding: 0
  margin: 0


.like-button
  position: absolute
  right: 5%
  bottom: 5%
  background-color: #c9c9c9
  border-radius: 100px
  padding: 2.5%
  opacity: 0
  transition: .3s ease
  min-width: 10px
  min-height: 10px


.image-container
  position: relative
  width: 100%
  height: 100%

.album-card:hover .like-button
  opacity: 0.95

.album-card
  width: 100%
  height: 100%
  cursor: pointer


.modal-dialog
  margin: 2.5vh auto
  background-color: appvariables.$main-background-color
  border-width: 0px


.modal-content
  height: 70%
  overflow: hidden


.modal-body
  height: 100%
  background-color: appvariables.$main-background-color
  border-width: 0px
  display: flex
  color: appvariables.$primary-font-color

.modal-body img
  height: 35%
  width: 35%
  border-radius: 5px
  border-width: 0px

.modal-header
  border-radius: 0px
  background-color: appvariables.$main-background-color
  border-color: appvariables.$dark-background-color
  color: appvariables.$primary-font-color
  padding: 3%

.modal-footer
  border-radius: 0px
  background-color: appvariables.$main-background-color
  border-color: appvariables.$dark-background-color

.description-like-button
  padding: 0% 1%
  right: 1%


.modal-header button
  outline: none

.album-text-description
  margin-left: 5%

.album-description-author
  color: appvariables.$red-color
  font-family: appvariables.$font-stack
  font-size: 19px

.album-description-release-date
  font-family: appvariables.$font-stack
  font-size: 15px
  color: appvariables.$secondary-font-color

.album-description-likes
  color: appvariables.$primary-font-color
  font-size: 19px
  font-family: appvariables.$font-stack
  margin-right: 2%







