<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{album.name}}</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src={{album.image}} width="50%" height="50" class="album-modal-image">
    <div class="album-text-description">
      <p class="album-description-author">{{album.artist}}</p>
      <p class="album-description-release-date">{{album.releaseDate}}</p>
      <p class="album-description-bio">{{album.description}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <img src="{{likeIconImage}}" width="5.5%" height="5.5%" class="description-like-button" (click)="updateLikeAlbumStatus()">
    <p class="album-description-likes">{{numberOfLikes}}</p>
  </div>
</ng-template>


<div class="album-card" >
  <div class="image-container">
    <img src={{album.image}} width="100%" height="100%" class="album-image" (click)="onAlbumClicked(content)">
    <img src="{{likeIconImage}}" width="16%" height="16%" class="like-button" (click)="updateLikeAlbumStatus()">
  </div>
  <div class="album-text" (click)="onAlbumClicked(content)">
    <p class="album-name">
      {{ album.name }}
    </p>
    <p class="album-author">
      {{ album.artist }}
    </p>
  </div>
</div>

